extends layout

block content
 div.page-header
  h1 Liste des festivals 
   small et leurs rumeurs
 div.btn-toolbar
  a.btn.btn-primary(id="addFestivalButton", name="addFestivalButton", role="bouton") Ajouter un festival
 div.hide(id="addFestivalForm")
  include ./ajouterfestival.jade
  h2 Ajouter un festival
 ul.list-group
  each item in festivals
   li.list-group-item.btn-toolbar
    a(href="/festivals/#{item.id}")= item.name 
    a.btn.btn-primary.btn-sm(role="button", href="/festivals/modifier/#{item.id}") Modifier 
    a.btn.btn-danger.btn-sm(role="button", href="/festivals/supprimer/#{item.id}") Supprimer 
