extends layout

block content
 div.page-header
  h1 Liste des festivals 
   small et leurs rumeurs
 div.btn-toolbar
  a.btn.btn-primary(href="/festivals/ajouter", role="bouton") Ajouter un festival
 div(id="addFestivalForm")
  ul.list-group
   each item in festivals
    li.list-group-item.btn-toolbar= item.name 
     a.btn.btn-primary.btn-sm(role="button", href="/festivals/modifier/#{item.id}") Modifier 
     a.btn.btn-danger.btn-sm(role="button", href="/festivals/supprimer/#{item.id}") Supprimer 
