div.row.footer
 div.row
  div.col-md-4 erer
  div.col-md-4 erer erer
  div.col-md-4 erere r
 div.row
  div.col-md-4 rtertertertet
  div.col-md-4 rtertertet
  div.col-md-4 retertert
 div.row
  div.col-md-4 ertertert
  div.col-md-4 zretertetertet ertert
  div.col-md-4 etzrtertertertert