extends layout

block content
 div.row
  div.col-md-3.col-xs-12(id="signupFormDiv")
   h3 Nouveau ? Inscrivez-vous maintenant
   div.alert.alert-danger.hidden(id="errorSignupDiv", role="alert")
    span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
    span.sr-only Error :
    span(id='errorSignup')
   form.form-horizontal(id="signupForm", method="post", action="", autocomplete="off")
    div.form-group
      input.form-control(type="text", name="inputPseudoInscription", id="inputPseudoInscription", placeholder="Pseudo", required)
    div.form-group
      input.form-control(type="email", name="inputEmailInscription", id="inputEmailInscription", placeholder="Email", required)
    div.form-group
      input.form-control(type="password", name="inputPasswordInscription", id="inputPasswordInscription", placeholder="Mot de passe", required)
    div.form-group
      input.form-control(type="password", name="inputPasswordInscriptionConfirmation", id="inputPasswordInscriptionConfirmation", placeholder="Confirmer mot de passe", required)
    div.form-group
      button.btn.btn-lg.btn-block.btn-primary(type="submit") S'inscrire
  div.col-md-9.col-xs-12(id="welcomeText")
   h1 Bienvenue sur Fucking Rumors Baby
   p Suivre l'actualité des festivals, les rumeurs, les annonces blabla Suivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blablaSuivre l'actualité des festivals, les rumeurs, les annonces blabla
   a.btn.btn-primary.btn-lg(href="/festivals", role="button") Voir la liste des festivals