form.form-horizontal(ng-controller="addRumorController", autocomplete="off", novalidate)
 div.alert.alert-danger(ng-show="displayError", role="alert")
  span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
  span.sr-only Error :
  span(ng-bind="error")
 div.row.form-group
  div.col-xs-12.col-sm-12.col-md-6.col-lg-6
   label(ng-show="!artistChoosen") Choisir un artiste
   div(ng-show="!artistChoosen")
    autocomplete(attr-input-class="form-control", attr-placeholder="e.g. James Blake", ng-model="artist", data="listArtists", on-type="updateListArtists", on-select="selectArtist")
   div(ng-show="artistChoosen")
    div.col-xs-2.col-sm-2.col-md-3.col-lg-2
     img.avatar-medium(src="{{artist.img}}")
    div.col-xs-10.col-sm-10.col-md-9.col-lg-10
     a.festival-name(href="/artistes/{{artist._id}}/{{ artist.name | urlEncode }}") {{artist.name}}
  div.col-xs-12.col-sm-12.col-md-6.col-lg-6
   table.table.table-striped(ng-id="artist", ng-show="artistChoosen")
    tr
     th Date
     th Lieu
     th %
     th Officiel
    tr(ng-repeat="rumorsCalendar in artist.rumors")
     td xxx
     td {{rumorsCalendar.edition.festival.location.city}} ({{rumorsCalendar.edition.festival.location.country}})
     td yy
     td X
    tr.no-result(ng-hide="(artist.rumors).length")
     td(colspan="4") Aucune date de prévue
 div.row.form-group(ng-show="artistChoosen", ng-repeat="rumor in rumors")
  div.col-xs-6.col-sm-3.col-md-3.col-lg-3
   label(for="inputDate") Date
   select.form-control(ng-model="rumor.date", ng-disabled="rumor.disabled")
    option(ng-repeat="item in rumor.listAvailableDates") {{item | date: "dd/MM/yyyy"}}
  div.col-xs-6.col-sm-3.col-md-3.col-lg-3
   label(for="inputPercentage") Pourcentage
   input.form-control(id="inputPercentage", type="range", min="0", max="100", ng-model="rumor.percentage", ng-disabled="rumor.disabled")
   span {{rumor.percentage}}%
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputSources") Sources
   textarea.form-control(id="inputSources", ng-model="rumor.sources", ng-disabled="rumor.disabled")
 div.row.form-group(ng-show="artistChoosen")
  div.col-xs-12.col-sm-12.col-md-12.col-lg-12
   a.btn.btn-default.btn-sm(ng-show="listAvailableDates().length", ng-click="addDate()", role="button") Ajouter une date
 div.row.form-group
  div.col-xs-12.col-sm-12.col-md-12.col-lg-12.btn-toolbar
   a.btn.btn-default.btn-sm.pull-right(ng-click="toggleAddRumor()", role="button") Annuler
   btn-loading(btn-loading="waiting", btn-label-loading="Chargement...", btn-class-loading="btn btn-primary btn-sm pull-right", ng-click="addRumor()") Valider