
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$font-stack:    	'Lato', sans-serif;
$background-color:  #3179B5;
$footer-color: 		#2E2E2E;
$container_bg_color: #F0F0F0;

$color_red: #ff6767;

body{
	font-family: $font-stack;
	background-color: $background-color;
	height: 100%;
	background-image: radial-gradient(circle, #269, #274256);
	background-image: -webkit-radial-gradient(circle, #269, #274256);

	@media (min-width: $screen-sm-min) {
		div#signupFormDiv{
			border-right: 1px dashed #C5C5C5;
		}
	}

	.loading{
	    width: 100%;
	    text-align: center;
	    padding: 50px;
	    color: $footer-color;
	}

	div#containerPrincipal{
		margin-bottom: 20px;

		@media (min-width:  $screen-sm-min) { 
			div#container{
				border-radius: 3px;
			}
		}
	}

	div#container{
		background-color: $container_bg_color;
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2); 

		div#signupFormDiv, #signupForm{
			padding: 20px;
		}

		div#welcomeText{
			padding: 20px;
		}
	}

	.footer {
	  background-color: $footer-color;
	  color: $container_bg_color;
	  padding: 10px;
	  margin-bottom: -1px;
	  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3) inset;
	  text-align: center;
	  height: 100px;

	  a{
	  	color: #e6e6e6;
	  }
	}

	h1{
		margin-top: 10px;
	}

	.page-header{
    	background-color: $color_red;
	    color: #fff;
	    padding: 20px;
	    margin: 0 -15px 0px -15px;
	    border-top-left-radius: 3px;
	    border-top-right-radius: 3px;

	    h1::before{
    		content: "// ";
	    }

	    small{
	    	color: #fff;
	    }
	}
}