$font-stack:    	Helvetica, sans-serif;
$background-color:  #3179B5;
$footer-color: 		#2E2E2E;
$container_bg_color: #F0F0F0;

body{
	font-family: $font-stack;
	background-color: $background-color;
	height: 100%;
	background-image: radial-gradient(circle, #269, #274256);
	background-image: -webkit-radial-gradient(circle, #269, #274256);

	/* Small devices (tablets, 768px and up) */
	@media (min-width: 992px) {
		div#signupFormDiv{
			border-right: 1px dashed #C5C5C5;
		}
	}

	div#containerPrincipal{
		margin-bottom: 20px;

		/* Medium devices (desktops, 992px and up) */
		@media (min-width:  768px) { 
			div#container{
				border-radius: 3px;
			}
		}
	}

	div#container{
		background-color: $container_bg_color;
		box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2); 

		div#signupFormDiv, #signupForm{
			padding: 20px;
		}

		div#welcomeText{
			padding: 20px;
		}
	}

	.footer {
	  background-color: $footer-color;
	  color: $container_bg_color;
	  padding: 10px;
	  margin-bottom: -1px;
	  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3) inset;
	  text-align: center;
	  height: 100px;

	  a{
	  	color: #e6e6e6;
	  }
	}

	.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
	}

	@-webkit-keyframes spin2 {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}

	.glyphicon{
		margin-right: 5px;
	}
}