$color_button: $color_red;
$color_button_focus: #E53737;
$color_button_hover: #F44F4F;

$color_button_primary: #3179B5;
$color_button_primary_focus: #3076B0;
$color_button_primary_hover: #2769A0;

$color_button_white: #fff;
$color_button_white_focus: #f3f3f3;
$color_button_white_hover: #f0f0f0;

body{
	.btn{
		color: #fff;
		text-shadow: none;
		background-image: none;
	}

	.btn-default{
		@extend .btn;
		background-color: $color_button;
		border-color: $color_button;
	}

	.btn-default:focus{
		@extend .btn;
		background-color: $color_button_focus;
		border-color: $color_button_focus;
	}

	.btn-default:hover{
		@extend .btn;
		background-color: $color_button_hover;
		border-color: $color_button_hover;
	}

	.btn-primary{
		@extend .btn;
		background-color: $color_button_primary;
		border-color: $color_button_primary;
	}

	.btn-primary:focus{
		@extend .btn;
		background-color: $color_button_primary_focus;
		border-color: $color_button_primary_focus;		}

	.btn-primary:hover{
		@extend .btn;
		background-color: $color_button_primary_hover;
		border-color: $color_button_primary_hover;
	}

	.btn-white{
		@extend .btn;
		background-color: $color_button_white;
		border-color: color_button_white;
		color: $color_red;
	}

	.btn-white:focus{
		@extend .btn;
		background-color: $color_button_white_focus;
		border-color: $color_button_white_focus;
		color: $color_red;
	}

	.btn-white:hover{
		@extend .btn;
		background-color: $color_button_white_hover;
		border-color: $color_button_white_hover;
		color: $color_red;
	}

	.glyphicon-refresh-animate {
	    -animation: spin .7s infinite linear;
	    -webkit-animation: spin2 .7s infinite linear;
	}

	@-webkit-keyframes spin2 {
	    from { -webkit-transform: rotate(0deg);}
	    to { -webkit-transform: rotate(360deg);}
	}

	@keyframes spin {
	    from { transform: scale(1) rotate(0deg);}
	    to { transform: scale(1) rotate(360deg);}
	}

	.glyphicon{
		margin-right: 5px;
	}
}