body{

	div#addFestivalGlobalDiv{
		margin-top: 10px;
	}
	
	div#addFestivalForm, div#addRumorForm, div#addEditionForm{
		margin-bottom: 10px;
		padding: 20px;
		background-color: #e6e6e6;
	}

	ul#festivalList, ul#artistList{
		margin: 10px;
	}

	div#rechercheFestival{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.btn-toolbar-right{
		float: right;
		margin-top: -50px;
	}

	.group-festival{
		padding: 5px;
		width: 100%;
		background-color: #fff;
		border-radius: 2px;
		
		.festival-name{
			font-size: 18px;
		}
	}

	.group-artist{
		@extend .group-festival;
		.artist-name{
			font-size: 18px;
		}
	}
}