$color_fb: 			#3b5998;
$color_twitter:		#55acee;
$color_instagram :	#3f729b;
$duration: .2s;

$color_menu_hover: $color_red;

body{
	nav#navbar-top{
		min-height: 40px;
		background-image: linear-gradient(to bottom,#4C4C4C 20%,#353535 100%);
		margin: 0;
		border-radius: 0;
		border: 0;

		.navbar-right{
			margin-top: 10px;
			margin-right: 0px;

			a{
				margin: 4px;
				font-size: 20px;
				color: #9E9E9E;
				text-decoration: none;
				-webkit-transition: color $duration ease-in;
			    -moz-transition: color $duration ease-in;
			    -o-transition: color $duration ease-in;
			    transition: color $duration ease-in;
			}

			a:hover, a:active, a:focus{
				text-decoration: none;
				color: #fff;
			}


		}
	}

	nav#navbar-menu{
		border-radius: 0;
		border: 0;
		min-height: 40px;
		margin-top: 10px;
		padding-left: 10px;

		a{
			color: #fff;
		}

		@media (max-width: $screen-sm-min) {
			.collapse{
				margin-top: 10px;
			}

			.navbar-collapse{
				margin-right: 10px;
			}
		}

		button.navbar-toggle{
			background-color: #DFDFDF;

			span{
				background-color: #26455C;
			}
		}

		.navbar-header{
			margin-bottom: 10px;
			margin-top: 20px;
			@media (min-width: 1200px) {
				margin-left: -50px;
			}
		}

		.navbar-nav{
			margin-left: 20px;

			a{
				font-family: 'Lato', sans serif;
				font-size: 18px;
				text-shadow: none;
			}

			li{
				margin: 2px;
				border-radius: 0;
			}

			@media (min-width: $screen-sm-min) {
				.active{
					a{
						color: #fff;
						border-bottom: 3px solid rgb(255, 103, 103);
					}
					
				}
			}

			a:hover, a:active, a:focus{
				color: #fff;
				border-radius: 5px;
				background-color: $color_menu_hover;
			}
		}

		.navbar-brand{
				background-image: url('/assets/logo-120x60.png');
				height: 60px;
				width: 120px;
				display: block;
		}

		@media (min-width: $screen-sm-min) {
			.navbar-brand{
				background-image: url('/assets/logo-180x90.png');
				height: 90px;
				width: 180px;
				display: block;
			}
		}

		@media (min-width: $screen-md-min) { 
			.navbar-brand{
					background-image: url('/assets/logo-300x150.png');
					height: 150px;
					width: 300px;
					display: block;
			}
		}

		@media (max-width: $screen-sm-min) {
			input, button{
				margin: 10px;
			}
		}

	}

}