extends ../layout/layout

block content
 div(ng-controller="festivalListController")
  div.page-header
   h1 Liste des festivals 
  if admin && loggedIn
   div(id="addFestivalGlobalDiv")
    div.btn-toolbar.btn-toolbar-right
     a.btn.btn-sm.btn-white(ng-click="toggleAddFestival()", role="bouton") Ajouter un festival
    div(bn-slide-show="isVisibleAddFestival", id="addFestivalForm")
     include ./ajouterfestival.jade
  div-loading(div-loading="waiting")
   div.row
    div.col-xs-12.col-sm-6.col-md-6.col-lg-5
     div.input-group(id="rechercheFestival")
      div.input-group-addon Rechercher
      input.form-control(type="text", placeholder="Nom du festival, date, lieux, artistes...", ng-model="$parent.filterValue")
   ul.list-group(id="festivalList")
     li.list-group-item-festival.col-xs-12.col-sm-12.col-md-6.col-lg-6(ng-repeat="item in $parent.festivals | filter: $parent.filterValue | slice: ($parent.currentPage-1)*$parent.pageSize: $parent.pageSize ")
      div.group-festival.col-xs-12.col-sm-12.col-md-12.col-lg-12
       div.col-xs-6.col-sm-6.col-md-7.col-lg-6
        a.festival-name(href="/festival/{{item._id}}/{{ item.name | urlEncode }}") {{item.name}}
        br
        span Du {{ item.editionInUse.date.start | date: 'dd/MM/yyyy' }} au {{ item.editionInUse.date.end | date: 'dd/MM/yyyy' }}
        br
        span A {{item.location.city}} ({{item.location.country}})
       if admin && loggedIn
        div.col-xs-6.col-sm-6.col-md-5.col-lg-6.btn-toolbar
         a.btn.btn-danger.btn-sm.pull-right(role="button" ng-click="deleteFestival(item._id)") Supprimer
         a.btn.btn-primary.btn-sm.pull-right(role="button" ng-click="updateFestival(item._id)") Modifier
   div.col-xs-12.col-sm-12.col-md-12.col-lg-12
    paging.small(page="$parent.currentPage", page-size="$parent.pageSize", total="$parent.total", scroll-top="true", hide-if-empty="true", show-prev-next="false", paging-action="goToPage(page)")
