extends ../layout/layout

block content
 div(id="festivalDiv", ng-controller="festivalController")
  div-loading(div-loading="waiting")
   div.page-header
    h1 {{festival.name}} 
     small {{ festival.editionInUse.date.start | date: 'dd/MM/yyyy' }} au {{ festival.editionInUse.date.end | date: 'dd/MM/yyyy' }}
     small {{festival.location.city}}  ({{festival.location.country}})
    a(href="/festivals")
     span.glyphicon.glyphicon-arrow-left
     span Revenir à la liste des festivals
   div(id="addFestivalGlobalDiv")
    div
     div.btn-toolbar.btn-toolbar-right.social-links
      a.icon-moon-earth(ng-if="!!festival.website", href="{{festival.website}}")
      a.icon-moon-facebook2(ng-if="!!festival.facebook", href="http://www.facebook.com/{{festival.facebook}}")
      a.icon-moon-twitter2(ng-if="!!festival.twitter", href="http://www.twitter.com/{{festival.twitter}}")
      a.icon-moon-instagram(ng-if="!!festival.instagram", href="http://www.instagram.com/{{festival.instagram}}")
     div.btn-toolbar.btn-toolbar-right
      if (admin)
       a.btn.btn-sm.btn-white(ng-click="toggleUpdateFestival()", role="bouton", ng-class="{ disabled : isVisibleAddEdition || isVisibleUpdateFestival || isVisibleAddRumor }") Modifier le festival
       a.btn.btn-sm.btn-white(ng-click="toggleAddEdition()", role="bouton", ng-class="{ disabled : isVisibleAddEdition || isVisibleUpdateFestival || isVisibleAddRumor }") Ajouter une édition
      if (loggedIn)
       a.btn.btn-sm.btn-white(ng-click="toggleAddRumor()", role="bouton", ng-class="{ disabled : isVisibleAddEdition || isVisibleUpdateFestival || isVisibleAddRumor }") Ajouter une rumeur
     if (admin)
      div(bn-slide-show="isVisibleAddEdition", id="addEditionDiv")
       include ../edition/ajouteredition.jade
      div(bn-slide-show="isVisibleUpdateFestival", id="addFestivalForm")
       include ./ajouterfestival.jade
     if (loggedIn)
      div(bn-slide-show="isVisibleAddRumor", id="addRumorForm")
       include ../rumors/addRumor.jade
   div.row
    label Filtrer les annonces officielles
     input(ng-model="filterOnOfficial", type="checkbox")
    label Filtrer par jour
     input(ng-model="filterDay", type="text")
    label Filtrer par pourcentage
     input(ng-model="filterPercentage", type="number", value="0")
   div.row
    ul.list-group(id="artistList")
     li.list-group-item-custom.col-xs-12.col-sm-12.col-md-6.col-lg-6(ng-repeat="item in festival.editionInUse.rumors | filter : { official: filterOnOfficial ? true : false} | filter : greaterThan('rumors.percentage', filterPercentage)")
      div.group-artist.col-xs-12.col-sm-12.col-md-12.col-lg-12
       div.col-xs-2.col-sm-2.col-md-2.col-lg-2
        img.avatar-medium(src="{{item.artist.img}}")
       div.col-xs-10.col-sm-10.col-md-10.col-lg-10
        a.artist-name(href="/artistes/id/{{item.artist._id}}/{{item.artist.name | urlEncode }}") {{item.artist.name}}
        div.date-list
          div(ng-repeat="rumors in item.rumors | orderBy : 'date'") 
           span.date {{rumors.date | date : "EEE. dd/MM/yyyy"}}
           span.percentage(ng-class="{bad: (rumors.percentage < 20), quitebad: (rumors.percentage >=20 && rumors.percentage < 50), good: (rumors.percentage >=50 && rumors.percentage < 70), verygood: (rumors.percentage >=70 && rumors.percentage < 90), excellent: (rumors.percentage >= 90)}") {{rumors.percentage}} %
   div.row
    h2 Liste des éditions
    ul.list-group(id="editionList")
     li.list-group-item-custom(ng-repeat="item in festival.editions")
      div.col-xs-6.col-sm-8.col-md-9.col-lg-10
        a(href="/festivals/{{id}}/{{festival.name}}/{{item.id}}/") {{item.year}}
      div.col-xs-6.col-sm-4.col-md-3.col-lg-2.btn-toolbar
       if admin && loggedIn
        a.btn.btn-danger.btn-sm.pull-right.delete-edition(role="button", href="/editions/supprimer/{{item.id}}") Supprimer