div.row.footer
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3
  a(href="#") Facebook
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3
  a(href="#") Twitter
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3
  a(href="#") Paul-Alain Bugnard
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3 
  a(href="#") Twitter
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3 
  a(href="#") rtertertet
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3 
  a(href="#") retertert
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3 
  a(href="#") Instagram
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3 
  a(href="#") zretertetertet ertert
 div.col-xs-12.col-sm-6.col-md-4.col-lg-3
  a(href="#") etzrtertertertert