doctype html
html(ng-app="fuckingRumorsApp")
  head
    title= title
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/app.min.css")
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    base(href="/")
    script(src="/js/app.min.js")
  body
   div(id="wrap")
    div.clearfix(id="main")
     include ./nav.jade
     div(id="containerPrincipal")
      div.container(id="container")
       block content
   include ./footer.jade
   