doctype html
html(ng-app="fuckingRumorsApp")
  head
    title= title
    link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href="/stylesheets/app.min.css")
  body
   include ./nav.jade
   div(id="containerPrincipal")
    div.container(id="container")
      block content
      include ./footer.jade
    script(src="/js/app.min.js")