form.form-horizontal(ng-controller="AddArtistController", novalidate, flow-init="{target: '/upload/artiste'}", flow-files-submitted="$flow.upload()",  flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]")
 div.row
  div.alert.alert-danger(ng-show="displayError", role="alert")
   span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
   span.sr-only Error :
   span(ng-bind="error")
 div.row.form-group
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputName") Nom de l'artiste
   input.form-control(type="text", ng-model="name", name="inputName", id="inputName", placeholder="e.g. James Blake", required)
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputWebsite") Site Web
   input.form-control(type="url", ng-model="website", name="inputWebsite", id="inputWebsite", placeholder="e.g. http://www.jamesblake.com")
 div.row.form-group
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputFacebook") Facebook
   input.form-control(type="text", ng-model="facebook", name="inputFacebook", id="inputFacebook", placeholder="e.g. jamesblake")
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputTwitter") Twitter
   input.form-control(type="text", ng-model="twitter", name="inputTwitter", id="inputTwitter", placeholder="e.g. @jamesblake")
 div.row.form-group
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   label(for="inputImage") Photo de l'artiste
    span.btn-upload.form-control(flow-btn) Upload d'une photo...
  div.col-xs-12.col-sm-6.col-md-6.col-lg-6
   div(ng-show="$flow.files.length && img")
    img.avatar-upload(flow-img="$flow.files[0]")
    a.btn.btn-default(href="javascript:void(0)", ng-click="$flow.cancel()", role="button") Supprimer
 div.row.form-group
  div.col-xs-12.col-sm-12.col-md-12.col-lg-12.btn-toolbar
   a.btn.btn-default.btn-sm.pull-right(ng-click="toggleAddArtist()", role="button") Annuler
   btn-loading(btn-loading="waiting", btn-label-loading="Chargement...", btn-class-loading="btn btn-primary btn-sm pull-right", ng-click="submit()") Valider
